{
 :encounter-response-root-dir "/Users/athom555/work/iowa-response"
 :db-uri                      "datomic:dev://localhost:4334/enc-response"
 :invoke-fn                   enc-response.parse/enc-response-files-2-datomic
 :tx-size-limit               100
 
 :icn-maps-aug-fname          "icn-maps-aug.edn"
 :missing-icn-fname           "missing-icns.edn"
 :tx-data-chunked-fname       "tx-data-chuncked.edn"

 }
