[{:db/id 17592214023315,
  :encounter-transmission/icn "30000019034534",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023316,
  :encounter-transmission/icn "30000019034535",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023317,
  :encounter-transmission/icn "30000019034536",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023318,
  :encounter-transmission/icn "30000019034537",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023319,
  :encounter-transmission/icn "30000019034538",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023320,
  :encounter-transmission/icn "30000019034539",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023322,
  :encounter-transmission/icn "30000019034541",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023323,
  :encounter-transmission/icn "30000019034542",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023324,
  :encounter-transmission/icn "30000019034543",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023326,
  :encounter-transmission/icn "30000019034545",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023327,
  :encounter-transmission/icn "30000019034546",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023328,
  :encounter-transmission/icn "30000019034547",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023329,
  :encounter-transmission/icn "30000019034548",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023330,
  :encounter-transmission/icn "30000019034549",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023331,
  :encounter-transmission/icn "30000019034550",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023332,
  :encounter-transmission/icn "30000019034551",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023333,
  :encounter-transmission/icn "30000019034552",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023334,
  :encounter-transmission/icn "30000019034553",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023335,
  :encounter-transmission/icn "30000019034554",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
 {:db/id 17592214023336,
  :encounter-transmission/icn "30000019034555",
  :encounter-transmission/plan "ia-medicaid",
  :encounter-transmission/status
  {:db/id 17592186045426,
   :db/ident :encounter-transmission.status/accepted}}
]